install

dyncall-1.4/Makefile
dyncall-1.4/Makefile.config
dyncall-1.4/doc/Makefile
dyncall-1.4/doc/manual/Makefile
dyncall-1.4/dyncall/Makefile
dyncall-1.4/dyncall/dyncall_aggregate.o
dyncall-1.4/dyncall/dyncall_api.o
dyncall-1.4/dyncall/dyncall_call.o
dyncall-1.4/dyncall/dyncall_callf.o
dyncall-1.4/dyncall/dyncall_callvm.o
dyncall-1.4/dyncall/dyncall_callvm_base.o
dyncall-1.4/dyncall/dyncall_vector.o
dyncall-1.4/dyncall/libdyncall_s.a
dyncall-1.4/dyncallback/Makefile
dyncall-1.4/dyncallback/dyncall_alloc_wx.o
dyncall-1.4/dyncallback/dyncall_args.o
dyncall-1.4/dyncallback/dyncall_callback.o
dyncall-1.4/dyncallback/dyncall_callback_arch.o
dyncall-1.4/dyncallback/dyncall_thunk.o
dyncall-1.4/dyncallback/libdyncallback_s.a
dyncall-1.4/dynload/Makefile
dyncall-1.4/dynload/dynload.o
dyncall-1.4/dynload/dynload_syms.o
dyncall-1.4/dynload/libdynload_s.a
dyncall-1.4/test/Makefile
dyncall-1.4/test/call_suite/Makefile
dyncall-1.4/test/call_suite_aggrs/Makefile
dyncall-1.4/test/callback_plain/Makefile
dyncall-1.4/test/callback_plain_c++/Makefile
dyncall-1.4/test/callback_suite/Makefile
dyncall-1.4/test/callback_suite_aggrs/Makefile
dyncall-1.4/test/callf/Makefile
dyncall-1.4/test/dynload_plain/Makefile
dyncall-1.4/test/ellipsis/Makefile
dyncall-1.4/test/malloc_wx/Makefile
dyncall-1.4/test/nm/Makefile
dyncall-1.4/test/plain/Makefile
dyncall-1.4/test/plain_c++/Makefile
dyncall-1.4/test/resolve_self/Makefile
dyncall-1.4/test/sign/Makefile
dyncall-1.4/test/suite/Makefile
dyncall-1.4/test/suite2/Makefile
dyncall-1.4/test/suite2_x86win32fast/Makefile
dyncall-1.4/test/suite2_x86win32std/Makefile
dyncall-1.4/test/suite3/Makefile
dyncall-1.4/test/suite_floats/Makefile
dyncall-1.4/test/suite_x86win32fast/Makefile
dyncall-1.4/test/suite_x86win32std/Makefile
dyncall-1.4/test/syscall/Makefile
dyncall-1.4/test/thunk/Makefile
